header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid black;
}
.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.image-text-container img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .image-text-container {
    margin: 10px 0;
  }
}

.image-text-container p {
  text-align: center;
  margin-top: 10px;
}

footer {
  text-align: center;
}
body {background-image: linear-gradient(    #ffccf8,
    #a3eaff,
    #6da9e9,
    #ff7272,
    #f6ff93,
    #ffdada,
    #f5b7ff);}
